package-manager-strict-version=false
onlyBuiltDependencies[]="better-sqlite3"
onlyBuiltDependencies[]="esbuild"
onlyBuiltDependencies[]="sharp"
onlyBuiltDependencies[]="protobufjs"
onlyBuiltDependencies[]="@google/genai"
