package-manager-strict-version=false
onlyBuiltDependencies[]=better-sqlite3
onlyBuiltDependencies[]=sqlite-vec
onlyBuiltDependencies[]=sqlite-vec-windows-x64
onlyBuiltDependencies[]=sqlite-vec-linux-x64
onlyBuiltDependencies[]=sqlite-vec-darwin-x64
onlyBuiltDependencies[]=sqlite-vec-darwin-arm64
onlyBuiltDependencies[]=sqlite-vec-linux-arm64
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=@nut-tree-fork/nut-js
onlyBuiltDependencies[]=electron
